<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.qind.dao.ISpiderConfigGroupDao">

	<resultMap type="SpiderConfigGroup" id="configGroupResult">
		<result column="cgid" property="cgid" />
		<result column="group_name" property="groupName" />
		<result column="group_url" property="groupUrl" />
	</resultMap>
	
	<select id="getAllConfigGroup" resultMap="configGroupResult">
		select *
		from spider_config_group
	</select>
	
</mapper>