<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.qind.dao.ITitleDao">

	<insert id="addGroupTitle" parameterType="GroupTitle"
		useGeneratedKeys="true" keyProperty="tid">
		insert into group_title(gid,title)
		values(#{gid},#{title})
	</insert>

	<select id="clearGroupTitle">
		truncate table group_title
	</select>
	
	<insert id="addTitleGroup" parameterType="TitleGroup"
		useGeneratedKeys="false" keyProperty="gid">
		insert into title_group(gid,group_name)
		values(#{gid},#{groupName})
	</insert>

	<select id="clearTitleGroup">
		truncate table title_group
	</select>
</mapper>